body{
  font:20px;
  background:#F7FF9E;
  margin: 30px;
  font-family: "Adelphe", serif;
}

.col-wrapper{
	display: flex; 
	flex-wrap: wrap;
	width: 100%;
	/*justify-content: space-between;*/
}

.col{
	width: 33.333%;
	opacity: 0.5;
	height: 50vh
}

.col.started{
	opacity: 1;
}

textarea{
	width: 100%;
	min-height: 40vh;
	font-size: 40px;
	border: none; 
	background:transparent;
	outline: none;
	padding: 10px;
	resize: none;
}

.config{
	min-height: 40px;
	/*border-left: 2px solid grey;*/
	/*border-right: 2px solid grey;*/
	font-size: 20px;
	text-align: center;
}

.editor{
	/*border-top: 2px solid grey;*/
}

#add-col-btn{
	position: fixed; 
	top: 10px; 
	right: 30px;
	cursor: pointer;
	font-size: 20px; 
	background: white; 
	padding: 10px 15px 5px;
	line-height: 1;
}




